<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>23/10/21 00:55:02</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriverInstance()[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;closeDriverInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>23/10/21 00:52:38</td>   <td>-143981</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.init()[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>23/10/21 00:54:45</td>   <td>-17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@1ca3b418]">TC01_LoginFirstAccount</td> 
  <td>main@1072377306</td>   <td></td> </tr>
</table>
