<h2>Reporter output</h2><table><tr><td><br> <a title = 'ScreenShot' href='C:\Desktop\eclipse\ASSIGNMENT_2_SELENIUM\screenshots\21-10-2023 00-53-44_funixExample3'><img alt='21-10-2023 00-53-44_funixExample3' src='C:\Desktop\eclipse\ASSIGNMENT_2_SELENIUM\screenshots\21-10-2023 00-53-44_funixExample3' height='243' with='418'/></a></br></td></tr>
<tr><td><br> <a title = 'ScreenShot' href='C:\Desktop\eclipse\ASSIGNMENT_2_SELENIUM\screenshots\21-10-2023 00-54-28_funixExample5'><img alt='21-10-2023 00-54-28_funixExample5' src='C:\Desktop\eclipse\ASSIGNMENT_2_SELENIUM\screenshots\21-10-2023 00-54-28_funixExample5' height='243' with='418'/></a></br></td></tr>
</table>