<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="8e919b">  <td>23/11/12 22:36:53</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInstance.closeDriverInstance()[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;closeDriverInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="8e919b">  <td>23/11/12 22:34:29</td>   <td>-143398</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverInstance.init()[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_LoginTest.takeScreenshot(org.testng.ITestResult)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
<tr bgcolor="6794c3">  <td>23/11/12 22:36:37</td>   <td>-15816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest.TC01_LoginFirstAccount(java.lang.String,java.lang.String)[pri:0, instance:com.automation.testcase.TC_LoginTest@7d322cad]">TC01_LoginFirstAccount</td> 
  <td>main@1067599825</td>   <td></td> </tr>
</table>
