<h2>Reporter output</h2><table><tr><td><br> <a title = 'ScreenShot' href='D:\WorkSpace_2023\funix\2.BaiTapFunix\ASM\ASSIGNMENT_2_SELENIUM\screenshots\12-11-2023 22-35-35_funixExample3.png'><img alt='12-11-2023 22-35-35_funixExample3.png' src='screenshots\12-11-2023 22-35-35_funixExample3.png' height='243' with='418'/></a></br></td></tr>
<tr><td><br> <a title = 'ScreenShot' href='D:\WorkSpace_2023\funix\2.BaiTapFunix\ASM\ASSIGNMENT_2_SELENIUM\screenshots\12-11-2023 22-36-20_funixExample5.png'><img alt='12-11-2023 22-36-20_funixExample5.png' src='screenshots\12-11-2023 22-36-20_funixExample5.png' height='243' with='418'/></a></br></td></tr>
</table>